<div id='tutorial' style='text-align:left;'>
{{#each tutorialPages}}
  {{#ifEquals ../currentPage @index}}
    <h3>{{this.title}}</h3>
    <div id='tutorialBubble' style="background-image: url('../img/tutbg.png')">
      <img src = '../img/speechbubble.png'>
      <div style='position:absolute;top:0; left:0; margin:10px; width:250px;'>
        {{#if this.image}}
          <img src='{{this.image}}'>
        {{/if}}
        
        {{{this.content}}}
        
      </div>
      <img src = '../img/mascotstill.png' style = 'position:absolute; left:400'>
    </div>
      {{#unless @first}}
        <button onclick='lastSection({{../currentPage}}, {{../isHelp}})' style="float:left;">{{this.previous}}</button> 
      {{/unless}}

      <button onclick='nextSection({{../currentPage}}, {{../isHelp}})' style="float:right;">
      {{#if @last}}
        {{#if isHelp}}
          Try Polling
        {{else}}
          Try Polling
        {{/if}}
      {{else}}
        {{this.next}}
      {{/if}}
      </button>
  {{/ifEquals}}
{{/each}}
</div>

{{#if isHelp}}
  <br><br>
  <button class = 'logHelpEndTutorial' onclick= 'userAction()'>Return to Game Map</button>
{{/if}}