<script>
	function updateStatus()
	{
		var subject = document.getElementById("subject").innerHTML.trim();
		//post all that information
		$.post('/bugReports/setComplete', {subjectText: subject});
		
	}
</script>
<main id='bug-reports'>
  {{#if errorNotifications}}
    <ul class='notifications error-notifications'>
      {{#each errorNotifications}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if successNotifications}}
    <ul class='notifications success-notifications'>
      {{#each successNotifications}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.pageTitle}}</h1>
    </header>

    <section id='bug-reports-section'>
      {{#if emptyState}}
      <section class='empty-state-section'>
        <h2 class='empty-state-header'>No bugs found 😃</h2>
      </section>

      {{else}}
        <table class='table'>
          <tr class='table-row-heading'>
            <th class='table-column-title'>
              Subject
            </th>
            <th class='table-column-title'>
              Username
            </th>
            <th class='table-column-title'>
              Date
            </th>        
            <th class='table-column-title'>
              Description
            </th>
            <th class='table-column-title'>
              Category
            </th>
            <th class='table-column-title'>
              Status
            </th>
          </tr>
          {{#each bugReports}}
          <tr class='table-row' id = {{id}}>
            <td class='table-cell' id = 'subject'>
              {{subject}}
            </td>
            <td class='table-cell'>
              {{username}}
            </td>
            <td class='table-cell'>
              {{date}}
            </td>
             
            <td class='table-cell'>
              {{description}}
            </td>
            <td class='table-cell'>
              {{category}}
            </td>
            <td class='table-cell'>
			<select id = 'status' onchange = 'updateStatus()'>        
				<option value="incomplete">Incomplete</option>
				<option value="complete">Complete</option>
			</select>
            </td>
          </tr>
          {{/each}}
        </table>
      {{/if}}
    </section>

    <footer id='footer'>
      <ul id='account-links'>
        <li>
          <a class='btn' href='/logout'>Logout</a>
        </li>
        <li>
          <a class='btn' href='/about'>About</a>
        </li>
      </ul>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
