<main id='research'>
 
  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.pageTitle}}</h1>
    </header>

    <!--MODAL-->
    <div id = 'overlay'></div>
    <div id = 'modal'>
    <div id = 'content'>
      <h2>Are you sure you want to archive everything?</h2>
      <p>By clicking yes - you will be archiving all research data (Modules, Pre-Test, Post-Test, Demographics, and Video Data).<br>
      Do you still wish to continue?<br>
      <button onclick = 'archiveData()'>Yes</button><button onclick = 'closeAreYouSure()'>No</button>
</div>
    </div>
     {{#if isAdmin}}
          <h2> <a href = '#' onclick = 'areYouSureArchiveData()' style = 'float:right'>Archive</a></h2>
         {{/if}}

    <div id = 'tabArea'>
   

    <section id = 'tabs'>
    <p>If there is no data - refresh the page</p>
      <ul>
        <li><a href = '#tabcontent' class = 'tablinks' onclick = 'tabChange(event, 0)'>Module 1</a></li>
        <li><a href = '#' class = 'tablinks' onclick = 'tabChange(event, 1)'>Pre Test</a></li>
        <li><a href = '#' class = 'tablinks' onclick = 'tabChange(event, 2)'>Post Test</a></li>
        <li><a href = '#' class = 'tablinks' onclick = 'tabChange(event, 3)'>Demographics</a></li>
        <li><a href = '#' class = 'tablinks' onclick = 'tabChange(event, 4)'>Video</a></li>
        <!--<li><a href = '#' class = 'tablinks' onclick = 'tabChange(event, 5)'>Options</a></li>-->
        <!--<li><a href = '#' class = 'tablinks' onclick = 'tabChange(event, 4)'>User Database</a></li>-->
      </ul>
     

    </section>

      {{#if isModuleEmpty}}
      <section class='empty-state-section tabcontent active'  id='report0'>  
        <h2 class='empty-state-header'>No Game Module Data Found</h2>
      </section>

      {{else}}
      <section id='report0' class = 'tabcontent active'>
      <br>
      <h2 id = 'Title'>Module 1</h2>   
      <h2> <a href = 'research/makeExcel' id = 'download' target="_blank">Download</a></h2>  <br><br>
  
      <div id = "resTable">
        <table class='table'>
          <tr class='table-row-heading'>
            <th class='table-column-title'>
              User ID
            </th>
            <th class='table-column-title'>
              Username
            </th>
            <th class='table-column-title'>
              Action
            </th>        
            <th class='table-column-title'>
              Description
            </th>
            <th class='table-column-title'>
              Date
            </th>
            <th class='table-column-title'>
              Game Session
            </th>
          </tr>
          {{#each researchArray}}          
          <tr class='table-row' id = {{id}}>
            <td class='table-cell' id = 'subject'>
              {{id}}
            </td>
            <td class='table-cell'>
              {{username}}
            </td>   
            <td class='table-cell'>
              {{type}}
            </td>        
            <td class='table-cell'>
              {{#if isPoll}}
                {{#each questions}}    
                 <b>Q: </b> {{this}}
                {{/each}}
              {{else}}
                {{action}}
              {{/if}}
            </td>
            <td class='table-cell'>
              {{date}}
              </td>        
            <td class='table-cell'>
              {{gameSession}}
            </td>      
          </tr>
          {{/each}}
        </table>
        </div>
      {{/if}}
    </section>

    {{#if isTestingEmpty}}
      <section class='empty-state-section tabcontent active'  id='report1'>
        <h2 class='empty-state-header'>No Pre-Test Research Data found</h2>
      </section>

      {{else}}
      <section id='report1' class = 'tabcontent active'>
         <section id = 'subtabs'>
      <ul>
        <li><a href = '#subtabcontent0' class = 'subtablinks' onclick = 'subtabChange(event, 0)'>Pre-Test Summary</a></li>
        <li><a href = '#subtabcontent1' class = 'subtablinks' onclick = 'subtabChange(event, 1)'>All Pre-Test Answers</a></li>

      </ul>

    </section>
      <br>
      <section id = 'subreport0' class = 'subtabcontent active'>
        <h2>Pre-Test Overall Results</h2><br>
        <h2><a href = 'research/summaryPreTestData' id = 'download' target="_blank">Download</a></h2>
          <div id = "resTable">
          <table class='table'>
          <tr class='table-row-heading'>
            <th class='table-column-title'>
              User ID
            </th>
            <th class='table-column-title'>
              Test ID
            </th>     
            <th class='table-column-title'>
             Number Correct
            </th>      
            <th class='table-column-title'>
             Start Time
            </th>
            <th class='table-column-title'>
              End Time
            </th>
            <th class='table-column-title'>
              Total Time
            </th>
          </tr>

              {{#each researchArray5}}          
          <tr class='table-row' id = {{userId}}>
           <td class='table-cell'>
              {{userId}}
            </td>        
            <td class='table-cell'>
              {{testId}}
            </td>  
            <td class='table-cell'>
              {{correctTotal}}
            </td>  
            <td class='table-cell'>
              {{startTime}}
            </td>     
            <td class='table-cell'>
              {{endTime}}
            </td>    
            <td class='table-cell'>
              {{totalTime}}
            </td>  
          
          </tr>
          {{/each}}
          
        </table>
        </div>
      </section>
      <section id = 'subreport1' class = 'subtabcontent'>
      <h2>Test Results</h2> <br>
        <h2><a href = 'research/makePreTestExcel' id = 'download' target="_blank">Download</a></h2>
        <div id = "resTable">
        <table class='table' >
          <tr class='table-row-heading'>
            <th class='table-column-title'>
              User ID
            </th>
            <th class='table-column-title'>
              Question ID
            </th>        
            <th class='table-column-title'>
             Student's Answer
            </th>
            <th class='table-column-title'>
              Answer Correct?
            </th>
            <th class='table-column-title'>
              Test ID
            </th>
           
          </tr>
          {{#each researchArray2}}          
          <tr class='table-row' id = {{id}}>
            <td class='table-cell' id = 'subject'>
              {{studentId}}
            </td>
            <td class='table-cell'>
              {{questionId}}
            </td>        
          
            <td class='table-cell'>
              {{studentAnswer}}
            </td>
            <td class='table-cell'>
              {{isCorrect}}
            </td>
            <td class='table-cell'>
                 {{testId}}
            </td>
          </tr>
          {{/each}}
        </table>
        </div>
        </section>
      {{/if}}
    </section>

    {{#if isTestingEmpty}}
      <section id='report2' class='empty-state-section tabcontent active' >
        <h2 class='empty-state-header'>No Post-Test Data Found</h2>
      </section>

      {{else}}
      <section id='report2' class = 'tabcontent active'>
      <section id = 'subtabs'>
      <ul>
        <li><a href = '#subtabcontent2' class = 'subtablinks' onclick = 'subtabChange(event, 2)'>Post-Test Summary</a></li>
        <li><a href = '#subtabcontent3' class = 'subtablinks' onclick = 'subtabChange(event, 3)'>All Post-Test Answers</a></li>
      </ul>
      </section>
      <br>
      <section id = 'subreport2' class = 'subtabcontent active'>
        <h2>Post-Test Overall Results</h2>
        <br>
        <h2><a href = 'research/msummaryPostTestExcel' id = 'download' target="_blank">Download</a></h2>
          <div id = "resTable">
          <table class='table'>
         <tr class='table-row-heading'>
            <th class='table-column-title'>
              User ID
            </th>
            <th class='table-column-title'>
              Test ID
            </th>     
            <th class='table-column-title'>
             Number Correct
            </th>      
            <th class='table-column-title'>
             Start Time
            </th>
            <th class='table-column-title'>
              End Time
            </th>
            <th class='table-column-title'>
              Total Time
            </th>
          </tr>
        {{#each researchArray6}}          
          <tr class='table-row' id = {{userId}}>
           <td class='table-cell'>
              {{userId}}
            </td>        
            <td class='table-cell'>
              {{testId}}
            </td>  
            <td class='table-cell'>
              {{correctTotal}}
            </td>  
            <td class='table-cell'>
              {{startTime}}
            </td>     
            <td class='table-cell'>
              {{endTime}}
            </td>    
            <td class='table-cell'>
              {{totalTime}}
            </td>  
          
          </tr>
          {{/each}}
          
        </table>
        </div>
      </section>
      <section id = 'subreport3' class = 'subtabcontent active'>
      <h2>Test Results</h2>  <br>
      <h2><a href = 'research/allPostTestData' id = 'download' target="_blank">Download</a></h2>
        <div id = "resTable">
        <table class='table'>
          <tr class='table-row-heading'>
            <th class='table-column-title'>
              User ID
            </th>
            <th class='table-column-title'>
              Question ID
            </th>      
            <th class='table-column-title'>
             Student's Answer
            </th>
            <th class='table-column-title'>
              Answer Correct?
            </th>
            <th class='table-column-title'>
              Test ID
            </th>
          </tr>
          {{#each researchArray3}}          
          <tr class='table-row' id = {{id}}>
            <td class='table-cell' id = 'subject'>
              {{studentId}}
            </td>
            <td class='table-cell'>
              {{questionId}}
            </td>        
          
            <td class='table-cell'>
              {{studentAnswer}}
            </td>
            <td class='table-cell'>
              {{isCorrect}}
            </td>
            <td class='table-cell'>
                  {{testId}}
            </td>
          </tr>
          {{/each}}
        </table>
        </div>
      {{/if}}
    </section>
    </section>

    {{#if isDemographicsEmpty}}
      <section id='report3' class='empty-state-section tabcontent active' >
        <h2 class='empty-state-header'>No Demographic Data Found</h2>
      </section>

      {{else}}
      <section id='report3' class = 'tabcontent active'>
      <br>
      <h2>User Demographic Results</h2>  <br>
      <h2><a href = 'research/demographicExcel' id = 'download' target="_blank">Download</a></h2>
        <div id = "resTable">
        <table class='table'>
          <tr class='table-row-heading'>
            <th class='table-column-title'>
              User ID
            </th>
            <th class='table-column-title'>
              Name
            </th>        
            <th class='table-column-title'>
             Age
            </th>
            <th class='table-column-title'>
             School Year
            </th>
            <th class='table-column-title'>
              Statistics Courses Taken
            </th>
            <th class='table-column-title'>
              Gender
            </th>
            <th class='table-column-title'>
              Hearing Status
            </th>
            <th class='table-column-title'>
              Ethnicity
            </th>
            <th class='table-column-title'>
              Native Language
            </th>
            <th class='table-column-title'>
              Test ID
            </th>
          </tr>
          {{#each researchArray4}}          
          <tr class='table-row' id = {{id}}>
            <td class='table-cell' id = 'subject'>
              {{userId}}
            </td>
            <td class='table-cell'>
              {{name}}
            </td>      
            <td class='table-cell'>
              {{age}}
            </td>
            <td class='table-cell'>
              {{schoolYear}}
            </td>
            <td class='table-cell'>
              {{statisticCoursesTaken}}
            </td>
            <td class='table-cell' id = 'subject'>
              {{gender}}
            </td>
            <td class='table-cell'>
              {{deaf}}
            </td>      
            <td class='table-cell'>
              {{ethnicity}}
            </td>
            <td class='table-cell'>
              {{nativeLanguage}}
            </td>
            <td class='table-cell'>
              {{testId}}
            </td>
          </tr>
          {{/each}}
        </table>
        </div>
      {{/if}}
    </section>

     {{#if isVideoEmpty}}
      <section id='report4' class='empty-state-section tabcontent active'>
       <h2 class='empty-state-header'>No Video Data Found</h2>
      </section>

      {{else}}
      <section id='report4' class = 'tabcontent active'>
      <br>
      <h2 id = 'Title'>Video Page</h2>   
      <h2><a href = 'research/videoExcel' id = 'download' target="_blank">Download</a></h2>
      <div id = "resTable">
        <table class='table'>
          <tr class='table-row-heading'>
            <th class='table-column-title'>
              User ID
            </th>
            <th class='table-column-title'>
              Start Time
            </th>
            <th class='table-column-title'>
              End Time
            </th>
            <th class='table-column-title'>
              Total Time
            </th>        
            <th class='table-column-title'>
              Video ID
            </th>
          </tr>
          {{#each researchArray7}}          
          <tr class='table-row' id = {{id}}>
            <td class='table-cell' id = 'subject'>
              {{userId}}
            </td>
            <td class='table-cell'>
              {{startTime}}
            </td>   
            <td class='table-cell'>
              {{endTime}}
            </td>        
            <td class='table-cell'>
              {{totalTime}}
              </td>        
            <td class='table-cell'>
              {{videoId}}
            </td>      
          </tr>
          {{/each}}
        </table>
        </div>
      {{/if}}
    </section>
	<section id='report5' class = 'tabcontent active'>
      <br>
      <h2 id = 'Title'>Options</h2><br>
      <h3 >Delete Save Data All Users</h3><br>
	  <h4>WARNING!!!! BY PRESSING THE BUTTON BELOW YOU COULD DELETE THE SAVE DATA OF ALL USERS!</h4><br>
	<div>
		<input type="checkbox" id="deletecheck1">
		<label for="deletecheck1">Check this box to confirm that deleting all save data is you intention.</label>
	</div><br>
	If you wish to delete all save data from the database type this below exactly as it appears here: DELETE54321
	<br><input type="text" id="deletecheck2" value="">
	<br><br><br>
    <button onclick = "deleteSaves()"> DELETE ALL SAVE DATA </button>
    </section>
    </div>
    <br>


    <footer id='footer'>
      <ul id='account-links'>
        <li>
          <a class='btn' href='/logout'>Logout</a>
        </li>
        <li>
          <a class='btn' href='/about'>About</a>
        </li>
      </ul>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
