<main class='main-page-layout' id='create-account'>
  {{#if errorNotifications}}
    <ul class='notifications error-notifications'>
      {{#each errorNotifications}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
  <article class='wrapper'>
    <header id='main-page-header'>
      <h1 id='main-page-title'>{{content.pageTitle}}</h1>
    </header>
    <section id='main-page-section'>
      <a href='/'>Home</a>
      <form method='post' action='/createaccount' class='form'>
        <legend>
          New User
        </legend>
          <p>
            Please fill out the fields below with your information.
          </p>
          <ul class='form-fields'>
            <li>
              <label id='usernameLabel' for='username'>Username: <span class='required-asterisk'>*</span></label>
              <input id='username' class='input' type='text' name='username' value='{{user.name}}' required/>
            </li>
            <li>
              <label id='emailLabel' for='email'>Email: <span class='required-asterisk'>*</span></label>
              <input id='email' class='input' type='text' name='email' value='{{user.email}}' required/>
            </li>
            <li id='password-section'>
              <label id='passwordLabel' for='password'>Password <span class='required-asterisk'>*</span></label>
              <input class='input' type='password' name='password' placeholder='Password' pattern='(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$' title='Passwords must be at least 8 characters long, contain an uppercase and lowercase letter, and have either a number or a special character.' required/>
            </li>
            <li id='retype-password-section'>
              <label id='passwordCheckLabel' for='passwordCheck'>Retype Password <span class='required-asterisk'>*</span></label>
              <input class='input' type='password' name='passwordCheck' placeholder='Password' pattern='(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$' title='Passwords must be at least 8 characters long, contain an uppercase and lowercase letter, and have either a number or a special character.' required/>
            </li>
            <li>
              <label id='displayNameLabel' for='displayName'>Display Name:</label>
              <input id='displayName' class='input' type='text' name='displayName' value='{{user.displayName}}' required />
            </li>
            <li>
              <label>Are you deaf or hard of hearing?</label>
              <ul>
                <li>
                  <input id='yeselligibleForTest' type='radio' name='elligibleForTest' value='yes'>
                  <label id='yeselligibleForTestLabel' for='yeselligibleForTest'>Yes</label>
                </li>
                <li>
                  <input id='noelligibleForTest' type='radio' name='elligibleForTest' value='no' checked>
                  <label id='noelligibleForTestLabel' for='noelligibleForTest'>No</label>
                </li>
              </ul>
            </li>
            <li>
              {{{captcha}}}
            </li>
            <ul class='action-links'>
              <li>
                <button class='btn' type='submit' name='userInfoSubmit' value='true'>Create Account</button>
              </li>
              <li>
                <button class='btn' type='reset'>Clear</button>
              </li>
            </ul>
          </ul>
      </form>
    </section>
    <footer id='footer'>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
