<main id='resetPassword'>
  {{#if errorNotifications}}
    <ul class='notifications error-notifications'>
      {{#each errorNotifications}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if successNotifications}}
    <ul class='notifications success-notifications'>
      {{#each successNotifications}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}

  <article class='wrapper'>
    <header class='thinking-cap-header'>
      <h1 class='thinking-cap-title'>{{content.appTitle}}</h1>
    </header>
    <section>
      <form class='form' action='/resetPassword' method='post'>
        {{! When resetting password}}
        {{#if resetPasswordView}}
          <ul class='form-fields form-fields-validation'>
            <li>
              <dl>
                <dt>
                  <label id='emailLabel' for='email'>Enter your email:<span class='required-asterisk'>*</span></label>
                </dt>
                <dd>
                  <input id='email' class='input' type='text' name='email' value='{{user.email}}' required/>
                  <ul class='input-requirements' id='email-requirements'>
                    <li class='invalid-input-requirement'>Must be a real email address.</li>
                  </ul>
                </dd>
              </dl>
            </li>
            <li id='password-section'>
              <dl>
                <dt>
                  <label id='passwordLabel' for='password'>Enter a new password:<span class='required-asterisk'>*</span></label>
                </dt>
                <dd>
                  <input class='input' id='password' type='password' name='password' placeholder='Password' pattern='(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$' title='Passwords must be at least 8 characters long, contain an uppercase and lowercase letter, and have either a number or a special character.' required/>
                  <ul class='input-requirements' id='password-requirements'>
                    <li class='invalid-input-requirement'>
                      Contains lowercase letter.
                    </li>
                    <li class='invalid-input-requirement'>
                      Contains uppercase letter.
                    </li>
                    <li class='invalid-input-requirement'>
                      Contains a number.
                    </li>
                    <li class='invalid-input-requirement'>
                      At least 8 characters long.
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
            <li id='retype-password-section'>
              <dl>
                <dt>
                  <label id='passwordCheckLabel' for='passwordCheck'>Retype new password:<span class='required-asterisk'>*</span></label>
                </dt>
                <dd>
                  <input class='input' id='passwordCheck' type='password' name='passwordCheck' placeholder='Password' pattern='(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$' title='Passwords must be at least 8 characters long, contain an uppercase and lowercase letter, and have either a number or a special character.' required/>
                  <ul class='input-requirements' id='passwordCheck-requirements'>
                    <li class='invalid-input-requirement'>
                      Contains lowercase letter.
                    </li>
                    <li class='invalid-input-requirement'>
                      Contains uppercase letter.
                    </li>
                    <li class='invalid-input-requirement'>
                      Contains a number.
                    </li>
                    <li class='invalid-input-requirement'>
                      At least 8 characters long.
                    </li>
                    <li class='invalid-input-requirement'>
                      Passwords match.
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
            <ul class='action-links'>
              <li>
                <button class='btn' type='submit' name="resetPasswordButton" value='true'>Reset Password</button>
              </li>
            </ul>
          </ul>
          {{! When sending the email to reset password}}
          {{else}}
          <legend>Reset Password</legend>
          <p>
            Enter your email and we'll send you a link where
            you can reset your password. Please note the link
            will only be valid for 15 minutes. After that you
            will need to visit this page again to get a new link.
          </p>
          <ul class='form-fields'>
            <li>
              <label for='email' id='emailLabel'>Email:</label>
              <input id='email' class='input' type='email' name='email' placeholder='Email' />
            </li>
            <ul class='action-links'>
              <li>
                <button class='btn' type='submit' name="sendResetPasswordEmail" value='true'>Send Reset Password Email</button>
              </li>
            </ul>
          </ul>
        {{/if}}
      </form>

      {{! When changing password}}

    </section>
    <footer id='footer'>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
