{{! If IE use the latest rendering engine }}
<meta http-equiv='X-UA-Compatible' content='IE=edge'>

{{! Set the page to the width of the device and set the zoom level }}

<meta name='viewport' content='width = device-width, initial-scale = 1'>
 <title>Thinking Cap</title>

{{! CSS Stylesheets }}
<!-- <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'> -->
<link rel='stylesheet' type='text/css' href='{{__dirname}}/css/styles.css'>
<link rel='stylesheet' type='text/css' href='{{__dirname}}/css/game.css'>

{{! Javascritpt }}

<script src = 'https://d3js.org/d3.v4.min.js'></script>
<script type = "text/javascript"> var saveState = "{{saveState}}"</script>
<script src ='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src = "{{__dirname}}/js/marsUniversity/sorttable.js"></script>
<script src = '{{__dirname}}/js/marsUniversity/globals.js'></script>
<script src = '{{__dirname}}/js/marsUniversity/game.js'></script>
<script src = '{{__dirname}}/js/marsUniversity/minigame.js'></script>
<script src = "{{__dirname}}/js/marsUniversity/serverTalk.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.js" ></script>

<script id="test-template" type="text/x-handlebars-template">
  <h1>Template Testing</h1>
  <p>Template??</p>
  <div>
    My name is \{{{name}}}
  </div>
  <p>Data2: </p> \{{{hey}}}
</script>
