<main class='main-page-layout' id='edit-user'>
  {{#if errorNotifications}}
    <ul class='notifications error-notifications'>
      {{#each errorNotifications}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if successNotifications}}
    <ul class='notifications success-notifications'>
      {{#each successNotifications}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
  <article class='wrapper'>
    <header id='main-page-header'>
      <h1 id='main-page-title'>{{content.pageTitle}}</h1>
    </header>
    <section id='main-page-section'>
      <form method='post' action='/editUser' class='form'>
        {{! If we are editing a user }}
        {{#if editingUser}}
          <legend>
            Edit user
          </legend>
          <p>
            Edit user information. Any empty fields will not be updated and will remain as they where.
          </p>
          <ul class='form-fields form-fields-validation'>
            <li>
              <dl>
                <dt>
                  <label id='usernameLabel' for='username'>Username:</label>
                </dt>
                <dd>
                  <input id='username' class='input' type='text' name='username' value='{{userData.userName}}'/>
                  <ul class='input-requirements' id='username-requirements'>
                    <li class='invalid-input-requirement'>No spaces.</li>
                  </ul>
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>
                  <label id='emailLabel' for='email'>Email:</label>
                </dt>
                <dd>
                  <input id='email' class='input' type='text' name='email' value='{{userData.email}}'/>
                  <ul class='input-requirements' id='email-requirements'>
                  </ul>
                </dd>
              </dl>
            </li>
            <li id='password-section'>
              <dl>
                <dt>
                  <label id='passwordLabel' for='password'>Password:</label>
                </dt>
                <dd>
                  <input class='input' id='password' type='password' name='password' placeholder='Password' pattern='(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$' title='Passwords must be at least 8 characters long, contain an uppercase and lowercase letter, and have either a number or a special character.'/>
                  <ul class='input-requirements' id='password-requirements'>
                    <li class='invalid-input-requirement'>
                      Contains lowercase letter.
                    </li>
                    <li class='invalid-input-requirement'>
                      Contains uppercase letter.
                    </li>
                    <li class='invalid-input-requirement'>
                      Contains a number.
                    </li>
                    <li class='invalid-input-requirement'>
                      At least 8 characters long.
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
            <li id='retype-password-section'>
              <dl>
                <dt>
                  <label id='passwordCheckLabel' for='passwordCheck'>Retype Password:</label>
                </dt>
                <dd>
                  <input class='input' id='passwordCheck' type='password' name='passwordCheck' placeholder='Password' pattern='(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$' title='Passwords must be at least 8 characters long, contain an uppercase and lowercase letter, and have either a number or a special character.'/>
                  <ul class='input-requirements' id='passwordCheck-requirements'>
                  </ul>
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>
                  <label id='displayNameLabel' for='displayName'>Display Name:</label>
                </dt>
                <dd>
                  <input id='displayName' class='input' type='text' name='displayName' value='{{userData.displayName}}' />
                  <ul class='input-requirements' id='displayName-requirements'>
                  </ul>
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>
                  <label>Is the user deaf or hard of hearing?</label>
                </dt>
                <dd>
                  <ul>
                    <li>
                      <input id='yeselligibleForTest' type='radio' name='elligibleForTest' value='yes'>
                      <label id='yeselligibleForTestLabel' for='yeselligibleForTest'>Yes</label>
                    </li>
                    <li>
                      <input id='noelligibleForTest' type='radio' name='elligibleForTest' value='no' checked>
                      <label id='noelligibleForTestLabel' for='noelligibleForTest'>No</label>
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>
                  <label>Choose a role for the new user:</label>
                </dt>
                <dd>
                  <select class='input' name='userRole'>
                    <option value='0'>-- Select a role --</option>
                    {{#each userRoles}}
                      <option value='{{this.roleId}}'>{{this.roleName}} - {{this.roleAccess}}</option>
                    {{/each}}
                  </select>
                </dd>
              </dl>
            </li>
            <ul class='action-links'>
              <li>
                <button class='btn' type='submit' name='userInfoSubmit' value='true'>Edit {{userData.userName}}</button>
              </li>
              <li>
                <button class='btn' type='reset'>Clear</button>
              </li>
              <li>
                <button class='btn' type='submit' name='editOtherUserSubmit' value='true'>Edit other user</button>
              </li>
            </ul>
          </ul>
        {{! Else we are selecting a user to edit}}
        {{else}}
          <legend>Select user to edit</legend>
          <label>Display user by: </label>
          <select name='userDisplayType'>
            {{#if displayWithUsername}}
              <option value='0' selected>Username</option>
            {{else}}
              <option value='0'>Username</option>
            {{/if}}

            {{#if displayWithEmail}}
              <option value='1' selected>Email</option>

            {{else}}
              <option value='1'>Email</option>
            {{/if}}

            {{#if displayWithDisplayName}}
              <option value='2' selected>Display Name</option>
            {{else}}
              <option value='2'>Display Name</option>
            {{/if}}
          </select>
          <button type='submit' name='changeUserDisplayMode' value = 'true'>Change Display Mode</button>
          <ul class='list-view'>
            {{! If there are users }}
            {{#if userList}}
              {{! If display mode is set to usernames }}
              {{#if displayWithUsername}}
                {{#each userList}}
                  <li class='list-cell'>
                    <label class='list-cell-label' for='editUser{{this.userId}}Button' id='editUser{{this.userId}}Label'>{{this.userName}}</label>
                    <button class='btn list-cell-btn' id='editUser{{this.userId}}Button' type='submit' name='selectUserToEdit' value='{{this.userId}}'>Edit User</button>
                  </li>
                {{/each}}
              {{/if}}

              {{! If display mode is set to email }}
              {{#if displayWithEmail}}
                {{#each userList}}
                  <li class='list-cell'>
                    <label class='list-cell-label' for='editUser{{this.userId}}Button' id='editUser{{this.userId}}Label'>{{this.email}}</label>
                    <button class='btn list-cell-btn' id='editUser{{this.userId}}Button' type='submit' name='selectUserToEdit' value='{{this.userId}}'>Edit User</button>
                  </li>
                {{/each}}
              {{/if}}

              {{! If display mode is set to displayName}}
              {{#if displayWithDisplayName}}
                {{#each userList}}
                  <li class='list-cell'>
                    <label class='list-cell-label' for='editUser{{this.userId}}Button' id='editUser{{this.userId}}Label'>{{this.displayName}}</label>
                    <button class='btn list-cell-btn' id='editUser{{this.userId}}Button' type='submit' name='selectUserToEdit' value='{{this.userId}}'>Edit User</button>
                  </li>
                {{/each}}
              {{/if}}

            {{! Else no users}}
            {{else}}
            <li>
              No users found. Try adding a user instead: <a href='/adduser'>Add user</a>
            </li>
          {{/if}}

        </ul>
        {{! End if}}
        {{/if}}
      </form>
    </section>
    <footer id='footer'>
      <ul id='reference-links'>
        <li>
          <a href='/help'>Help</a>
        </li>
        <li>
          <a href='/terms'>Terms of Service</a>
        </li>
        <li>
          <a href='/credits'>Credits</a>
        </li>
      </ul>
    </footer>
  </article>
</main>
